/* Global */
:root {
  font-size: 16px; 
}

body {
  width: 100vw;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-color: #F6F6F6;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container-half {
  width: 50vw;
  padding: 2%;
}

p {
  font-size: 1.6rem;
}

p.p-smaller, li  {
  font-size: 1.3rem;
}

h1 {
  font-size: 3.5rem;
}

.heading {
  color: #002744;
  margin-bottom: 1vh;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.button-blue{
  background-color: #00497E;
  padding: 0.7vw 3.5vw;
  border-radius: 50px;
  font-size: 1.4rem;
  color: #FFFFFF;
  margin-top: 2%;
  display: inline-block;
  text-decoration: none;
}

.button-blue:hover{
  background-color: #002744;
}

.text-center{
  text-align: center;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.margin-bottom{
  margin-bottom: 2%;
}

/* Navigation Bar */

.container-navigation {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center; 
  padding: 1vh 2%;
  background-color: #FFFFFF;
}

.container-nav-logo {
  display: flex;
  align-items: center;
  width: 30vw;
}

.container-nav-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.cont-links-nav {
  display: flex;
  flex-direction: row;
  width: 65vw;
  justify-content: flex-end;
}

.links-navig {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4vw;
}

.linkText {
  text-decoration: none;
  color: #002744;
  font-size: 1.3rem;
  position: relative;
}

.linkText::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #002744;
  transition: width 0.3s; 
}

.linkText:hover::after {
  width: 100%;
  animation: underline-animation 0.5s;
}


@keyframes underline-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes underline-animation {
  0% {
    text-decoration: none;
  }
  100% {
    text-decoration: underline;
  }
}

.text-bold {
  font-weight: 800;
  color: #002744;
  margin-bottom: 0;
  font-size: 1.6rem;
}

.text-thin {
  font-weight: 400;
  color: #002744;
  margin-top: 0;
  font-size: 1.2rem;
}

.img-header {
  height: 7vh;
}

/* Landing Section */

.container-main {
  position: relative;
}

.container-landing {
  position: relative;
  background-image: url("assets/img-landing.png");
  width: 100%;
  height: 88vh;
  background-size: cover;
  display: flex;
  align-items: center;
}

.effect-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgba(0, 73, 126, 0.60) 0%, rgba(8, 14, 19, 0.60) 57%);
  z-index: 1;
}

.effect-blue {
  background-color: #00497E;
  opacity: 0.5; 
}

.container-text-landing-home {
  position: relative;
  z-index: 2;
  width: 42vw;
  margin-left: 4%;
  margin-top: 10%;
}

.text-landing {
  color: #FFFFFF;
  font-size: 7rem;
  margin-bottom: 0px;
}

.text-landing-nonhome {
  color: #FFFFFF;
  font-size: 6rem;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 8%;
}

.text-landing-subheading {
  color: #FFFFFF;
  margin-top: 1vh;
}

.button-landing {
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  font-size: 1.6rem;
  padding: 0.5vw 5vw;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  margin-top: 2vh;
}

.button-landing:hover {
  background-color: #FFFFFF;
  color: #002744;
  font-weight: 600;
}

/* Home body */
#container-diversity {
  width: 80vw;
  margin: auto;
  margin-top: 7%;
  text-align: center;
}

#container-demographics {
    position: relative;
  background-image: url("assets/img-bg-demographics.png");
  width: 100%;
  height: 42vh;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 8%;
  color: #FFFFFF;
}

.text-percentage {
  font-size: 4.5rem;
  margin-bottom: 0;
}

.text-description {
  font-size: 1.7rem;
  margin-top: 0;
}

.container-demographics-text {
  text-align: center;
  width: 33vw;
}

#container-home-about-text {
  padding: 5%;
  margin-top: 3%;
}

.container-img-home-about {
  height: 80vh;
  width: 50vw;
  margin-top: 5%;
  margin-bottom: 5%;
}

#img-home-about {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50px 0  0 50px
}

/* News */
.container-home-latest {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card-news {
  background-color: #FFFFFF;
  width: 27vw;
  border-radius: 25px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 1%;
}

.container-card-news-img {
  height: 70%;
  width: 100%;
  overflow: hidden;
}

.container-card-news-text {
  height: 30%;
  width: 100%;
  overflow: hidden;
  padding: 2vh 2vh 1.5vh 1.5vh;
}

.container-card-news-img img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.text-news-heading {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

.text-news-date {
  font-size: 1.2rem;
  margin-top: 1vh;
}

/* Landing non home */
.container-landing-half {
  position: relative;
  background-image: url("assets/img-landing-half.png");
  width: 100%;
  height: 50vh;
  background-size: cover;
  display: flex;
  align-items: center;
}


/* About */
.container-body-left {
  width: 90vw;
  margin: auto;
}

.text-year {
  font-size: 1.8rem;
  color: #002744;
  margin-top: 1%;
  margin-right: 1.5vw;
}

.cell-year {
  text-align: right;
}

.cell-event {
  font-size: 1.3rem;
  margin-top: 1%;
  margin-left: 4%;
}

td {
  padding-bottom: 3vh; 
}


/* Apply */
.td-portfolio {
  padding-bottom: 3vh; 
  font-size: 1.2rem; 
  border: 1px solid #FFFFFF;
}

.th-portfolio {
  font-size: 1.4rem; 
  border: 1px solid #FFFFFF;
}

.table-portfolio {
  width: 84vw;
  font-size: 1.5rem;
  border-collapse: collapse; 
}

#heading-portfolio {
  background-color: #487a9d;
  color: #FFFFFF;
  padding: 2vh 0;
}

.container-body-left ol, .text-application {
  line-height: 1.6; 
}
